<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ClearTripSuite" > 

<!-- 	 <suite name="ClearTripSuite">  --> 

<parameter name="url" value="https://www.cleartrip.com/" />
<parameter name="expectedTitle" value="#1 Site for Booking Flights, Hotels, Packages, Trains &amp; Local activities." />
	<!-- #1 Site for Booking Flights, Hotels, Packages, Trains & Local activities.  -->
	<test name="SanityTest" thread-count="1"  parallel="classes">

		<classes>
			<class name="cleartrip.testcases.TestNgExamples"/>
		 	<class name="cleartrip.testcases.TestNgExample1"/>
			
		</classes>
		
	</test>

</suite>			